<footer class="footer">
    <div class="footer__inner">
        {{ if $.Site.Copyright }}
        <div class="copyright copyright--user">
            <span>© {{ now.Year }} {{ $.Site.Copyright | safeHTML }}</span>
        {{ else }}
        <div class="copyright">
            <span>© {{ now.Year }}</span>
        {{ end }}
        {{ if $.Site.Params.footerText }}
            <span class="copyright copyright--user">{{ $.Site.Params.footerText | safeHTML }}</span>
        {{ end }}
        </div>
    </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $cp := resources.Get "js/code.js" | js.Build }}

{{ $bundle := slice $menu $cp | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}